In [4]:
import pandas as pd

df = pd.read_csv('BigmacPriceJuly2022.csv')
df.head()

         date currency_code        name  local_price  dollar_ex  dollar_price
0  2022-07-01           ARS   Argentina       590.00        129          4.57
1  2022-07-01           AUD   Australia         6.70          1          6.70
2  2022-07-01           EUR     Austria         4.35          1          4.35
3  2022-07-01           AZN  Azerbaijan         4.70          1          4.70
4  2022-07-01           BHD     Bahrain         1.60          1          1.60

In [5]:
df.describe()

         local_price     dollar_ex  dollar_price
count      70.000000     70.000000     70.000000
mean     3793.318143   1042.428571      4.003571
std     17915.281337   4462.135648      1.353213
min         1.300000      1.000000      1.300000
25%         4.662500      1.000000      3.000000
50%        16.840000      4.000000      3.905000
75%        93.500000     27.750000      4.687500
max    130000.000000  25600.000000      7.100000

In [6]:
pip install yfinance

Collecting yfinance
  Obtaining dependency information for yfinance from https://files.pythonhosted.org/packages/e6/b3/388ab967a387cc92926f70e97688dd9a7189b29a0773db815ffc5289e2b5/yfinance-0.2.31-py2.py3-none-any.whl.metadata
  Downloading yfinance-0.2.31-py2.py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pandas>=1.3.0 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (2.31.0)
Collecting multitasking>=0.0.7 (from yfinance)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.9.1 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (2023.3.post1)
Collecting frozendict>=2.3.4 (from yfinance)
  Downloading frozendict-2.3.8-py311-none-any.whl (14 kB)
Collecting peewee>=3.16.2 (from yfinance)
  Downloading peewee-3.17.0.tar.gz (2.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 17.4 MB/s eta 0:00:0000:0100:01
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: beautifulsoup4>=4.11.1 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from yfinance) (4.12.2)
Collecting html5lib>=1.1 (from yfinance)
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 4.1 MB/s eta 0:00:00
Requirement already satisfied: soupsieve>1.2 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/oliviafarias/anaconda3/lib/python3.11/site-packages (from requests>=2.31->yfinance) (2023.7.22)
Downloading yfinance-0.2.31-py2.py3-none-any.whl (65 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.6/65.6 kB 2.2 MB/s eta 0:00:00
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.0-cp311-cp311-macosx_10_9_x86_64.whl size=249195 sha256=67ea64d3014d035577608be438c3c47ed0470e6ca18db9036fbfaf060e201b56
  Stored in directory: /Users/oliviafarias/Library/Caches/pip/wheels/02/20/23/74a10d0cd31f5d41c19b92ddf4c138ceff01b9f4675f19dbf5
Successfully built peewee
Installing collected packages: peewee, multitasking, html5lib, frozendict, yfinance
Successfully installed frozendict-2.3.8 html5lib-1.1 multitasking-0.0.11 peewee-3.17.0 yfinance-0.2.31
Note: you may need to restart the kernel to use updated packages.

In [7]:
import yfinance as yf

In [10]:
ticker = yf.Ticker('ITUB4.SA')
df = ticker.history(period='1y')

In [11]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-26 00:00:00-03:00,27.366284,27.677693,27.064311,27.158678,48619400,0.00000,0.0
2022-10-27 00:00:00-03:00,27.470089,27.960794,27.281355,27.658821,39594200,0.00000,0.0
2022-10-28 00:00:00-03:00,27.564455,27.979668,27.460653,27.875866,28616800,0.00000,0.0
2022-10-31 00:00:00-03:00,27.366285,28.847839,27.319103,28.687416,83759400,0.00000,0.0
2022-11-01 00:00:00-03:00,29.270613,29.544435,28.401936,28.760736,41916800,0.01765,0.0
...,...,...,...,...,...,...,...
2023-10-20 00:00:00-03:00,26.920000,27.230000,26.740000,26.959999,23846300,0.00000,0.0
2023-10-23 00:00:00-03:00,26.900000,27.309999,26.820000,26.990000,16052700,0.00000,0.0
2023-10-24 00:00:00-03:00,27.250000,27.379999,26.820000,26.990000,15850100,0.00000,0.0
2023-10-25 00:00:00-03:00,27.049999,27.830000,26.969999,27.040001,25565100,0.00000,0.0
2023-10-26 00:00:00-03:00,27.200001,27.820000,27.090000,27.730000,24485000,0.00000,0.0